@use "../../variables" as *;

.dashboard{
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: $heading3;
    .vertical-nav{
        height: 100vh;
        width: 200px;

        .profile{
            width: 100%;
            height: 220px;
            margin-bottom: 30px;
            padding: 26px;
            padding-top: 14px;
        }

        .parent-nav{
            width: 100vw;
            height: 100vh;
            color: black;
            .nav{
                background-color: $secondary;
                height: 100vh;
                width: 17vw;
                position: fixed;
                .navbtn{
                    background-color: $secondary;
                    color: $light;
                    border: 0;
                    border-radius: 0;
                    text-transform: capitalize;
                    font-weight: 400;
                    padding: 1rem;
                    text-align: center;
                    &:hover{
                        background-color: $light;
                        color: $tertiary;
                    }
                    &:active {
                        background-color: $light;
                        color: $tertiary;
                    }
                    &:focus {
                        background-color: $light;
                        color: $tertiary;
                    }
                    
                }
            }
            .tab-content{
                width: 83vw;
                height: 100%;
                margin-left: 18vw;
            }
        }

    }
}
