@use "../../../variables" as *;


.project-by-priority{
    width: 100%;
    height: auto;
    color: $light;
    background: linear-gradient(180deg, rgba(33,36,70,1) 0%, rgba(33,36,70,1) 92%, rgba(33,36,70,0.7091211484593838) 97%);
    .project-title{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-progression{
        width: 60%;
    }
}